  
  body, html {
    padding: 0;
    margin:  0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    background-image:url(img/background.png);
    background: #dafcea;
    position: relative;
  }
  
  
  .character {
    color: white;
    font-size: 68px;
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    right:0;
    text-align: center;
    line-height: .475;
    font-family: Oswald, monospace;
  }