body,html{
    margin: 0;
    height: 100%;
    font-family: "Microsoft JhengHei";
  }
  body{
    background-color:  #3F5D45;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3F5D45;
  }
  .container{
    display: flex;  
    align-items: center;
  }
  .container .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF0ED;
    padding: 60px 40px 60px 40px ;
    border-radius: 5px;
    margin: 0 20px;
  }
  .container .col button{
    background-color: #3F5D45;
    border: 0;
    color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 5px;
  }
  .container .col.main{
    display: flex;
    margin: 0 10px;
    padding: 30px 50px 50px 50px;
  }